.navigation-container {
  padding-left: 13%;
  padding-right: 13%;
  .button-forward {
    float: right;
  }
  .button {
    margin-bottom: 1em;
    outline: none;
  }
}

/*.search-container {
  padding-left: 5%; 
  padding-right: 5%;
}*/

.modules-container {
  padding-left: 13%;
  padding-right: 13%;
}
